
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Welcome to Studez.</h1>
    <p class="lead">Studez is an online platform where students get to find job and internship opportunities available for their student type portfolio.</p>
    <p class="lead">
      <%= link_to "Log In ", login_path, class: "btn btn-lg btn-success" %>
      <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
      <p id="notice"><%= notice %></p>
    </p>
  </main>
</div>
