
<div class="">
  <main class="r">
    <h1 class="">Welcome to Studez.</h1>
    <p class="">Studez is an online platform where students get to find job and internship opportunities available for their student type portfolio.</p>
    <p class="">
      <%= link_to "Log In ", login_path, class: "" %>
      <%= link_to "Sign up", signup_path, class: "" %>
      <p class="notice"><%= notice %></p>
    </p>
  </main>
</div>
