<div class="bg-gray-200 px-64 py-12">
    <% if @resume_id.nil? %>
        <% if !@erroed_resume_object.nil? %>
          <% @resume = @erroed_resume_object %>
        <% else %>
          <% @resume = Resume.new %>
        <% end %>
        <%= render 'bigform', submission: @submission, opportunity_id: @opportunity_id, resume: @resume %>
    <% else %>
        <%= render 'form', submission: @submission, opportunity_id: @opportunity_id, resume_id: @resume_id %>
    <% end %>
</div>
