
.icon-th:before { content: '\e800'; } /* '' */
.icon-th-list:before { content: '\e801'; } /* '' */
.icon-ok:before { content: '\e802'; } /* '' */
.icon-music:before { content: '\e803'; } /* '' */
.icon-glass:before { content: '\e804'; } /* '' */
.icon-folder-open:before { content: '\e805'; } /* '' */
.icon-folder:before { content: '\e806'; } /* '' */
.icon-stop:before { content: '\e807'; } /* '' */
.icon-star:before { content: '\e808'; } /* '' */
.icon-heart:before { content: '\e809'; } /* '' */
.icon-heart-empty:before { content: '\e80a'; } /* '' */
.icon-star-empty:before { content: '\e80b'; } /* '' */
.icon-flag:before { content: '\e80c'; } /* '' */
.icon-bookmark:before { content: '\e80d'; } /* '' */
.icon-tags:before { content: '\e80e'; } /* '' */
.icon-help-circled:before { content: '\e80f'; } /* '' */
.icon-info-circled:before { content: '\e810'; } /* '' */
.icon-home:before { content: '\e811'; } /* '' */
.icon-lock:before { content: '\e812'; } /* '' */
.icon-lock-open:before { content: '\e813'; } /* '' */
.icon-pin:before { content: '\e814'; } /* '' */
.icon-tag:before { content: '\e815'; } /* '' */
.icon-picture:before { content: '\e816'; } /* '' */
.icon-download:before { content: '\e817'; } /* '' */
.icon-upload:before { content: '\e818'; } /* '' */
.icon-attach:before { content: '\e819'; } /* '' */
.icon-link:before { content: '\e81a'; } /* '' */
.icon-bell:before { content: '\e81b'; } /* '' */
.icon-trash-empty:before { content: '\e81c'; } /* '' */
.icon-search:before { content: '\e81d'; } /* '' */
.icon-location:before { content: '\e81e'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */
.icon-flag-checkered:before { content: '\f11e'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-adn:before { content: '\f170'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.icon-cc-discover:before { content: '\f1f2'; } /* '' */
.icon-cc-amex:before { content: '\f1f3'; } /* '' */
.icon-cc-paypal:before { content: '\f1f4'; } /* '' */
.icon-cc-stripe:before { content: '\f1f5'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */