<div class="centre py-40">
    <h1 class="font-bold text-6xl text-center text-gray-600">Info#privacy_policy</h1>
    <p class="tracking-wide text-center text-gray-600">Download policy in [PDF]</p>
</div>
