<div class="centre py-40">
    <h1 class="font-bold text-6xl text-center text-gray-600">Info#terms_of_service</h1>
    <p class="tracking-wide text-center text-gray-600">Download terms_of_service in [PDF]</p>
</div>
