<div class="flex flex-wrap -mx-3">                    
    <div class="w-full md:w-1/2 lg:w-1/3 flex flex-col px-3 mb-16">
        <a href="https://builtwithtailwind.com/site/internet-and-everything-inside" class="no-underline bg-white transition shadow-lg hover:shadow hover:-translateY-sm flex flex-1 flex-col rounded-lg overflow-hidden">
            <div class="w-full shadow-inner bg-dark-100 bg-cover bg-top min-h-item" style="background-image: url(&quot;https://builtwithtailwind.s3.amazonaws.com/224/conversions/potretin.com_-thumb.jpg&quot;);"></div>
            <div class="flex flex-1 flex-col justify-between p-4 border-t">
                <div>
                    <h3 class="font-bold text-xl mb-2 text-black" itemprop="name">Internet and Everything Inside</h3>
                    <p class="leading-normal text-grey-darkest text-sm truncate" itemprop="description">A blog about digital marketing, web development &amp; news</p>
                </div>
                <div class="mt-6 text-right">
                    <span class="inline-flex items-center text-grey-darker ml-3" title="Views"><svg class="svg-icon mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M.2 10a11 11 0 0 1 19.6 0A11 11 0 0 1 .2 10zm9.8 4a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"></path></svg> <span class="text-sm font-bold">52</span></span>
                </div>
            </div>
        </a>
    </div>
</div>

<div id="container" class="w-4/5 mx-auto">
    <div class="flex flex-col sm:flex-row">
      <!-- Card 1 -->
      <div class="sm:w-1/4 p-2">
        <div class="bg-white px-6 py-8 rounded-lg shadow-lg text-center">
          <div class="mb-3">
            <img
              class="w-auto mx-auto rounded-full"
              src="https://i.pravatar.cc/150?img=66"
              alt=""
            />
          </div>
          <h2 class="text-xl font-medium text-gray-700">Pande Muliada</h2>
          <span class="text-blue-500 block mb-5">Front End Developer</span>

          <a href="#" class="px-4 py-2 bg-blue-500 text-white rounded-full"
            >Hire</a
          >
        </div>
      </div>

      <!-- Card 2 -->
      <div class="sm:w-1/4 p-2">
        <div class="bg-white px-6 py-8 rounded-lg shadow-lg text-center">
          <div class="mb-3">
            <img
              class="w-auto mx-auto rounded-full"
              src="https://i.pravatar.cc/150?img=31"
              alt=""
            />
          </div>
          <h2 class="text-xl font-medium text-gray-700">Saraswati Cahyati</h2>
          <span class="text-blue-500 block mb-5">Back End Developer</span>

          <a href="#" class="px-4 py-2 bg-blue-500 text-white rounded-full"
            >Hire</a
          >
        </div>
      </div>

      <!-- Card 3 -->
      <div class="sm:w-1/4 p-2">
        <div class="bg-white px-6 py-8 rounded-lg shadow-lg text-center">
          <div class="mb-3">
            <img
              class="w-auto mx-auto rounded-full"
              src="https://i.pravatar.cc/150?img=18"
              alt=""
            />
          </div>
          <h2 class="text-xl font-medium text-gray-700">Wayan Alex</h2>
          <span class="text-blue-500 block mb-5">Data Scientist</span>

          <a href="#" class="px-4 py-2 bg-blue-500 text-white rounded-full"
            >Hire</a
          >
        </div>
      </div>

      <!-- Card 4 -->
      <div class="sm:w-1/4 p-2">
        <div class="bg-white px-6 py-8 rounded-lg shadow-lg text-center">
          <div class="mb-3">
            <img
              class="w-auto mx-auto rounded-full"
              src="https://i.pravatar.cc/150?img=28"
              alt=""
            />
          </div>
          <h2 class="text-xl font-medium text-gray-700">Ketut Julia</h2>
          <span class="text-blue-500 block mb-5">Project Manager</span>

          <a href="#" class="px-4 py-2 bg-blue-500 text-white rounded-full"
            >Hire</a
          >
        </div>
      </div>
    </div>
</div>
